body
{
    background-color: #247BA0;
    font-family: "Lucida Handwriting", cursive;
    text-align: center;

}

h1{
    color: black;
}

h2{
    color: rgb(0, 0, 0);
}
#interesses {
    background-color: purple;
    text-align: center;

}

.titulos
{
    color: yellow;
    font-size: x-large;
}

ul{
    list-style: none; /*remover os pontos*/
}
li {
    display: list-item; /*deixar linha na horizontal*/
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover { /*passar o mouse por cima, a letra muda a cor*/
color: red;
}

